/* For Body */

body{
    font-family: "Lato", sans-serif;
}

/* Header items */

.header{
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    margin-bottom: 178px;
    padding: 0 200px;
}

.head-content{
    margin-top:78px;
}

.head-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    margin-bottom: 32px;
}

.head-text{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.head-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}

.head-pic{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

/* Our Beloved Flowers section */

.featured{
    padding: 0 240px;
}

.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-flowers{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.feature-flowers .flower-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 32px 0 135px 0;
}

.flower-one .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.flower-two .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.flower-three .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.flower-one img{
    margin: 110px 78px 0 78px;
}

.flower-two img{
    margin: 117px 47px 51px 47px;
}

.flower-three img{
    margin: 67px 75px 0px 75px;
}

/* Delivery Info Section */













