/* For Body */

body{
    font-family: "Lato", sans-serif;
}

/* Header items */

.header{
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    margin-bottom: 178px;
    padding: 0 200px;
}

.head-content{
    margin-top:78px;
}

.head-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    margin-bottom: 32px;
}

.head-text{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.head-button, .offer-btn, .deal-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}

.head-pic{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

/* Our Beloved Flowers section */

.featured{
    padding: 0 240px;
}

.feature-title, .insta-title, .deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.feature-text, .insta-text, .deal-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-flowers{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.flower-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 32px 0 135px 0;
}

.flower-one .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.flower-two .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.flower-three .flower-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.flower-one img{
    margin: 110px 78px 0 78px;
}

.flower-two img{
    margin: 117px 47px 51px 47px;
}

.flower-three img{
    margin: 67px 75px 0px 75px;
}

/* Customer Service Section */

.customer-service{
    width: auto;
    height: 320px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 240px 128px 240px;
    padding: 85px 175px;
}

.img-title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.flower-icon, .helpline-icon, .delivery-man-icon{
    margin-bottom: 24px;
}

.deli-man-image, .flow-img, .helpline-img{
    display: flex;
    justify-content: center;
}

/* Offer Section */

.offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 620px;
    padding: 100px 429px 100px 393px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.offer-content{
    text-align: center;
    align-items: center;
}

.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.offer-title span{
    color: #E55473;
}

.offer-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.offer-img{
    width: 318px;
    height: 420px;
}

/* Instagram Section */

.insta-images{
    display: flex;
    justify-content: space-between;
    margin: 0 240px 130px 240px;
}

/* Deals Section */

.Deals{
    height: 449px;
    background: url('../Flower-Asset/Rectangle\ 9.png');
    margin: 0 240px 135px 240px;
    align-items: center;
}


#deal-input{
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-right: 16px;
    width: 700px;
    height: 64px;
    padding-left: 20px;
    font-family: Lato;
}

.deal-form{
    justify-content: center;
    display: flex;
    margin-bottom: 121px;
}

.Deal-header{
    padding-top: 80px;
}

/* Footer */

.footer{
    background: #111010;
    height: 350px;
    padding: 130px 648px;
}

.footer-content{
    text-align: center;
}

.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.footer-title span{
    color: #FFF;
}

.footer-text{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.footer-end{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}





